.Cell {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  background-image: url("https://ak9.picdn.net/shutterstock/videos/345499/thumb/6.jpg?ip=x480");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  cursor: pointer;
}

.Cell-lit {
  border-radius: 10px;
  background-image: url("https://cdn.britannica.com/41/129641-050-D30CA107/lightbulb-invention-Thomas-Alva-Edison-1879.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}